<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419401560537-aa0uhmnb3d7toj92igvha5pet47or6po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419401560537-aa0uhmnb3d7toj92igvha5pet47or6po</string>
	<key>API_KEY</key>
	<string>AIzaSyCviO3NK2ZSWmB8txufmcX4hwfxplEbNPY</string>
	<key>GCM_SENDER_ID</key>
	<string>419401560537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ITNFoundation.ITNaggregator</string>
	<key>PROJECT_ID</key>
	<string>improve-the-news</string>
	<key>STORAGE_BUCKET</key>
	<string>improve-the-news.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419401560537:ios:617f6f9b263d9992fa69c8</string>
</dict>
</plist>